[run]
source = darkhole
branch = true
omit = 
    */tests/*
    */examples/*
    */docs/*
    */paper/*
    */__init__.py
    */conftest.py
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
show_missing = true
precision = 2
fail_under = 80

[html]
directory = htmlcov